<!-- load static -->
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- title -->
    <title>Todo App</title>
</head>

<body>
    <div class="container-fluid">

        <div class="row mt-5 mb-3">
            <div class="col-6">
                <a href="{% url 'home' %}">
                    <button class="btn btn-success" type="button" style="width: 100%;">TO DO</button>
                </a>

            </div>
            <div class="col-6">
                <button class="btn btn-danger disabled" type="button" style="width: 100%;">DONE</button>
            </div>
        </div>

        <div class="row mt-4 mb-5">
            <div class="col-12">
                <a href="{% url 'create' %}">
                    <button class="btn btn-primary" type="button" style="width: 100%;">ADD TO DO</button>
                </a>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Name</th>
                            <th scope="col" class="text-center">Last Date</th>
                            <th scope="col" class="text-center">Deleted At</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <!-- list of all done data -->
                        {% for data in datas %}
                        <tr>
                            <td class="text-center"><del>{{data.name}}</del></td>
                            <td class="text-center"><del>{{data.last_date}}</del></td>
                            <td class="text-center">
                                {{data.deleted_at}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>